# directories
/data/
/models/

# pycharm files
.idea/

# scratch notebook directories
scratch_notebooks/peter/

# downloaded stanford nlp models
stanford_nlp_models/

# environment
multivac/
.env
src/pubmed-parser
src/slate

# juypter notebook
.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# workspaces
.code-workspace

# system files
.DS_Store

# logs
*.log

# flat-files
*.json
*.xml
*.csv


# envs
venv/
env/
virtualenv/