stanfordnlp==0.2.0
networkx==2.3
numpy==1.16.2
matplotlib==3.1.1
nltk==3.4.5
Flask==1.1.1
scipy==1.2.1
-e git://github.com/pgr-gallup/slate.git#egg=slate==0.5.2
interruptingcow==0.8
tqdm==4.34.0
torch==1.2.0
pandas==0.24.2
tensorflow==2.6.4
Unidecode==1.0.23
fastcluster==1.1.25
git+https://github.com/titipata/pubmed_parser.git
stanford_corenlp==3.9.2
requests==2.21.0
py2neo==4.3.0
sympy==1.3
sortedcontainers==2.1.0
spacy==2.1.3
feedparser==5.2.1
beautifulsoup4==4.8.1
python-dotenv==0.10.3
scikit_learn==0.21.3

